In [197]:
## Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
## Importing the OS and JSON Modules
import os,json

In [198]:
Left = pd.read_csv('superhero_info - superhero_info.csv')
Left.head()

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,"{'Height': '191.0 cm', 'Weight': '65.0 kg'}"
2,Abin Sur|DC Comics,Male,Ungaran,good,No Hair,blue,red,"{'Height': '185.0 cm', 'Weight': '90.0 kg'}"
3,Abomination|Marvel Comics,Male,Human / Radiation,bad,No Hair,green,Unknown,"{'Height': '203.0 cm', 'Weight': '441.0 kg'}"
4,Absorbing Man|Marvel Comics,Male,Human,bad,No Hair,blue,Unknown,"{'Height': '193.0 cm', 'Weight': '122.0 kg'}"

In [199]:
Right= pd.read_csv('superhero_powers - superhero_powers.csv')
Right.head()

    hero_names                                             Powers
0      3-D Man         Agility,Super Strength,Stamina,Super Speed
1       A-Bomb  Accelerated Healing,Durability,Longevity,Super...
2   Abe Sapien  Agility,Accelerated Healing,Cold Resistance,Du...
3     Abin Sur                                 Lantern Power Ring
4  Abomination  Accelerated Healing,Intelligence,Super Strengt...

Cleaning Left DF first

In [200]:
Left.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463 entries, 0 to 462
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Hero|Publisher  463 non-null    object
 1   Gender          463 non-null    object
 2   Race            463 non-null    object
 3   Alignment       463 non-null    object
 4   Hair color      463 non-null    object
 5   Eye color       463 non-null    object
 6   Skin color      463 non-null    object
 7   Measurements    463 non-null    object
dtypes: object(8)
memory usage: 29.1+ KB

Measurments needs to be split height and weight should be 2 columns and the values be the data in that column.

In [201]:
Left['Measurements'].head(2)

0    {'Height': '203.0 cm', 'Weight': '441.0 kg'}
1     {'Height': '191.0 cm', 'Weight': '65.0 kg'}
Name: Measurements, dtype: object

In [202]:
to_replace = [',']
for char in to_replace:
    Left['Measurements'] = Left['Measurements'].str.replace(char,':',regex=False)

In [203]:
Left['Measurements'].str.split(':',expand=True)

             0            1          2             3
0    {'Height'   '203.0 cm'   'Weight'   '441.0 kg'}
1    {'Height'   '191.0 cm'   'Weight'    '65.0 kg'}
2    {'Height'   '185.0 cm'   'Weight'    '90.0 kg'}
3    {'Height'   '203.0 cm'   'Weight'   '441.0 kg'}
4    {'Height'   '193.0 cm'   'Weight'   '122.0 kg'}
..         ...          ...        ...           ...
458  {'Height'   '183.0 cm'   'Weight'    '83.0 kg'}
459  {'Height'   '165.0 cm'   'Weight'    '52.0 kg'}
460  {'Height'    '66.0 cm'   'Weight'    '17.0 kg'}
461  {'Height'   '170.0 cm'   'Weight'    '57.0 kg'}
462  {'Height'   '185.0 cm'   'Weight'    '81.0 kg'}

[463 rows x 4 columns]

In [204]:
Left[['0','height (cm)','2','weight (kg)']] = Left['Measurements'].str.split(':',expand=True)
Left.head(2)

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,Measurements,0,height (cm),2,weight (kg)
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,{'Height': '203.0 cm': 'Weight': '441.0 kg'},{'Height','203.0 cm','Weight','441.0 kg'}
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,{'Height': '191.0 cm': 'Weight': '65.0 kg'},{'Height','191.0 cm','Weight','65.0 kg'}

In [205]:
Left = Left.drop(columns=['Measurements', '0', '2'])
Left.head(2)

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,height (cm),weight (kg)
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,'203.0 cm','441.0 kg'}
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,'191.0 cm','65.0 kg'}

In [206]:
to_replace = ["'", ' cm', ' kg', '}',' ']
for char in to_replace:
    Left['height (cm)'] = Left['height (cm)'].str.replace(char,'',regex=False)

In [207]:
to_replace = ["'", 'cm', 'kg', '}',' ']
for char in to_replace:
    Left['weight (kg)'] = Left['weight (kg)'].str.replace(char,'',regex=False)

In [208]:
Left.head(2)

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,height (cm),weight (kg)
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,203.0,441.0
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,191.0,65.0

In [209]:
Left.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463 entries, 0 to 462
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Hero|Publisher  463 non-null    object
 1   Gender          463 non-null    object
 2   Race            463 non-null    object
 3   Alignment       463 non-null    object
 4   Hair color      463 non-null    object
 5   Eye color       463 non-null    object
 6   Skin color      463 non-null    object
 7   height (cm)     463 non-null    object
 8   weight (kg)     463 non-null    object
dtypes: object(9)
memory usage: 32.7+ KB

Addressing Hero Column by splitting column at pipe then will create a hero column then I will remove pipe and hero|Publisher column and 1 column

In [210]:
Left['Hero|Publisher'].str.split('|',expand=True)

                   0                  1
0             A-Bomb      Marvel Comics
1         Abe Sapien  Dark Horse Comics
2           Abin Sur          DC Comics
3        Abomination      Marvel Comics
4      Absorbing Man      Marvel Comics
..               ...                ...
458     Yellowjacket      Marvel Comics
459  Yellowjacket II      Marvel Comics
460             Yoda       George Lucas
461          Zatanna          DC Comics
462             Zoom          DC Comics

[463 rows x 2 columns]

In [211]:
Left[['hero','publishier']] = Left['Hero|Publisher'].str.split('|',expand=True)
Left.head(2)

,Hero|Publisher,Gender,Race,Alignment,Hair color,Eye color,Skin color,height (cm),weight (kg),hero,publishier
0,A-Bomb|Marvel Comics,Male,Human,good,No Hair,yellow,Unknown,203.0,441.0,A-Bomb,Marvel Comics
1,Abe Sapien|Dark Horse Comics,Male,Icthyo Sapien,good,No Hair,blue,blue,191.0,65.0,Abe Sapien,Dark Horse Comics

In [212]:
Left = Left.drop(columns=['Hero|Publisher'])
Left.head(2)

,Gender,Race,Alignment,Hair color,Eye color,Skin color,height (cm),weight (kg),hero,publishier
0,Male,Human,good,No Hair,yellow,Unknown,203.0,441.0,A-Bomb,Marvel Comics
1,Male,Icthyo Sapien,good,No Hair,blue,blue,191.0,65.0,Abe Sapien,Dark Horse Comics

In [213]:
unique_ids = sorted(Left['height (cm)'].unique())
unique_ids[:10]

['122.0',
 '137.0',
 '142.0',
 '15.2',
 '155.0',
 '157.0',
 '160.0',
 '163.0',
 '165.0',
 '168.0']

In [214]:
unique_ids = sorted(Left['weight (kg)'].unique())
unique_ids[:10]

['101.0',
 '104.0',
 '105.0',
 '106.0',
 '108.0',
 '110.0',
 '113.0',
 '115.0',
 '116.0',
 '117.0']

In [215]:
Left['height (cm)'] = Left['height (cm)'].astype(float)

In [216]:
Left['weight (kg) '] = Left['weight (kg)'].astype(float)

In [217]:
Left.dtypes

Gender           object
Race             object
Alignment        object
Hair color       object
Eye color        object
Skin color       object
height (cm)     float64
weight (kg)      object
hero             object
publishier       object
weight (kg)     float64
dtype: object

Starting right df we need to address the powers column will need to make column for each power by one-hot-encoding right

In [218]:
Right.loc[2,'Powers']

'Agility,Accelerated Healing,Cold Resistance,Durability,Underwater breathing,Marksmanship,Weapons Master,Longevity,Intelligence,Super Strength,Telepathy,Stamina,Immortality,Reflexes,Enhanced Sight,Sub-Mariner'

In [219]:
Right['Powers'].str.split(',',expand=False)

0        [Agility, Super Strength, Stamina, Super Speed]
1      [Accelerated Healing, Durability, Longevity, S...
2      [Agility, Accelerated Healing, Cold Resistance...
3                                   [Lantern Power Ring]
4      [Accelerated Healing, Intelligence, Super Stre...
                             ...
662               [Flight, Energy Blasts, Size Changing]
663    [Cold Resistance, Durability, Longevity, Super...
664    [Agility, Stealth, Danger Sense, Marksmanship,...
665    [Cryokinesis, Telepathy, Magic, Fire Control, ...
666    [Super Speed, Intangibility, Time Travel, Time...
Name: Powers, Length: 667, dtype: object

In [220]:
Right['power_split'] = Right['Powers'].str.split(",")

In [221]:
Right['power_split'].head()

0      [Agility, Super Strength, Stamina, Super Speed]
1    [Accelerated Healing, Durability, Longevity, S...
2    [Agility, Accelerated Healing, Cold Resistance...
3                                 [Lantern Power Ring]
4    [Accelerated Healing, Intelligence, Super Stre...
Name: power_split, dtype: object

In [222]:
exploded = Right.explode('power_split', ignore_index=False)
exploded[['hero_names','Powers','power_split']].head(5)

,hero_names,Powers,power_split
0,3-D Man,"Agility,Super Strength,Stamina,Super Speed",Agility
0,3-D Man,"Agility,Super Strength,Stamina,Super Speed",Super Strength
0,3-D Man,"Agility,Super Strength,Stamina,Super Speed",Stamina
0,3-D Man,"Agility,Super Strength,Stamina,Super Speed",Super Speed
1,A-Bomb,"Accelerated Healing,Durability,Longevity,Super...",Accelerated Healing

In [223]:
cols_to_make = exploded['power_split'].dropna().unique()

In [224]:
for col in cols_to_make:
    Right[col] = Right['Powers'].str.contains(col)
Right.head()

c:\Users\tanma\anaconda3\envs\dojo-env\lib\site-packages\ipykernel_launcher.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`

,hero_names,Powers,power_split,Agility,Super Strength,Stamina,Super Speed,Accelerated Healing,Durability,Longevity,...,Weather Control,Omnipresent,Omniscient,Hair Manipulation,Nova Force,Odin Force,Phoenix Force,Intuitive aptitude,Melting,Changing Armor
0,3-D Man,"Agility,Super Strength,Stamina,Super Speed","[Agility, Super Strength, Stamina, Super Speed]",True,True,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,A-Bomb,"Accelerated Healing,Durability,Longevity,Super...","[Accelerated Healing, Durability, Longevity, S...",False,True,True,False,True,True,True,...,False,False,False,False,False,False,False,False,False,False
2,Abe Sapien,"Agility,Accelerated Healing,Cold Resistance,Du...","[Agility, Accelerated Healing, Cold Resistance...",True,True,True,False,True,True,True,...,False,False,False,False,False,False,False,False,False,False
3,Abin Sur,Lantern Power Ring,[Lantern Power Ring],False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Abomination,"Accelerated Healing,Intelligence,Super Strengt...","[Accelerated Healing, Intelligence, Super Stre...",False,True,True,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [238]:
merged= pd.merge(Left, Right, left_on='hero', right_on='hero_names')
merged.head()

,Gender,Race,Alignment,Hair color,Eye color,Skin color,height (cm),weight (kg),hero,publishier,...,Weather Control,Omnipresent,Omniscient,Hair Manipulation,Nova Force,Odin Force,Phoenix Force,Intuitive aptitude,Melting,Changing Armor
0,Male,Human,good,No Hair,yellow,Unknown,203.0,441.0,A-Bomb,Marvel Comics,...,False,False,False,False,False,False,False,False,False,False
1,Male,Icthyo Sapien,good,No Hair,blue,blue,191.0,65.0,Abe Sapien,Dark Horse Comics,...,False,False,False,False,False,False,False,False,False,False
2,Male,Ungaran,good,No Hair,blue,red,185.0,90.0,Abin Sur,DC Comics,...,False,False,False,False,False,False,False,False,False,False
3,Male,Human / Radiation,bad,No Hair,green,Unknown,203.0,441.0,Abomination,Marvel Comics,...,False,False,False,False,False,False,False,False,False,False
4,Male,Human,bad,No Hair,blue,Unknown,193.0,122.0,Absorbing Man,Marvel Comics,...,False,False,False,False,False,False,False,False,False,False

Compare the average weight of super powers who have Super Speed to those who do not.

In [242]:
speed_filter=merged['Super Speed']==True

In [244]:
merged[speed_filter].describe()

       height (cm)  weight (kg)
count   198.000000    198.000000
mean    189.444444    129.404040
std      56.186730    122.625087
min      64.000000     14.000000
25%     178.000000     69.250000
50%     183.000000     90.000000
75%     193.000000    135.000000
max     876.000000    855.000000

In [245]:
merged[~speed_filter].describe()

       height (cm)  weight (kg)
count   265.000000    265.000000
mean    186.376226    101.773585
std      63.402018     91.745168
min      15.200000      4.000000
25%     170.000000     59.000000
50%     183.000000     79.000000
75%     188.000000     97.000000
max     975.000000    900.000000

What is the average height of heroes for each publisher?

In [255]:
height_filter= merged.groupby(by='publishier')

In [256]:
height_filter['height (cm)'].mean()

publishier
DC Comics            181.923913
Dark Horse Comics    176.909091
George Lucas         159.600000
Image Comics         211.000000
Marvel Comics        191.546128
Shueisha             171.500000
Star Trek            181.500000
Team Epic TV         180.750000
Unknown              178.000000
Name: height (cm), dtype: float64